<% if current_user.owned_club.present? %>
  <div class="container">
    <h2>My Owned Club</h2>
    <div class="card">
      <div class="card-left">
        <p class="card__name">
          <%= current_user.owned_club.name %>
          <%= current_user.owned_club.website %>
        </p>
        <div class="sport"><%= current_user.owned_club.sport.name %></div>
      </div>
    </div>
    <%= link_to "Register your club", new_club_path %>
    <%= link_to "Create a new offer for you club", new_offer_path %>
  </div>
<% end %>
<div class="container">
  <h2>My Clubs History</h2>
  <% @clubs.each do |club| %>
    <div class="card">
      <div class="card-left">
        <p class="card__name">
          <%= club&.name %>
          <%= club.website %>
        </p>
        <div class="sport"><%= club.sport.name %></div>
      </div>
    </div>
  <% end %>
  <%= link_to "Add your Club History", new_club_history_path %>
</div>
