<div class="containerb titleb">
  <h1 class="text-center">Inbox</h1>
  <div class="messages p-3">
    <% Message.all.each do |message| %>
      <div class="card message" id="message-<%= message.id %>">
        <small>
          <strong>From: <%= message.user.name %></strong> <strong><%= message.user.last_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small><br>
        <strong>To: <%= message.club.name %></strong><br>
        <div class="message">
        <strong>Message: </strong><br>
          <p class="pl-4"><%= message.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
