<div class="containerb">
  <div class="titleb">
    <h1>My applications</h1>
  </div>
  <% @applications.each do |application| %>
    <%# insert offer card  %>
    <div class="container myapps_cont">
      <div class="card__myapplications ">
          <%= cl_image_tag application.offer.club.photo.key, class:"card__image img_club img__club_myapps", alt:"club"%>
        <div class="grid-container__myapps">
            <div class="offerTitle_myapps">
              <h3><%= application.offer.title %></h3>
              <p class="green-text"><%= application.offer.club.name %></p>
              <p><%= application.offer.description %></p>
              <p>Created: <%= application.created_at.strftime("%a %b %e at %l:%M %p") %></p>
            </div>
            <div class="titles__myapps">
              <div class="title_status_myapps">
                <p class="green-text">Status: <span class="text-white"><%= application.status.capitalize %></span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
