
<div class="containerb">
  <div class="titleb">
    <h1>My applications</h1>
  </div>
  <% @applications.each do |application| %>
    <%# insert offer card  %>
    <div class="container myapps_cont">
      <div class="card ">
        <div class="card-left no_wrap">
          <%= cl_image_tag application.offer.club.photo.key, class:"card__image img_club", alt:"club"%>
          <p class="card__name"><%= application.offer.title %>
          </p>
          <div class="sport">
            <p><%= application.offer.club.name %></p>
          </div>
        </div>
        <div class="grid-container">
          <div class="description des_club">
            <p><%= application.offer.description %></p>
        </div>
        <div class="titles">
          <div class="title status">
            <p><%= application.status %></p>
          </div>
          <div class="title created">
            <p><%= application.created_at.strftime("%a %b %e at %l:%M %p") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
