<div class="containerb">
  <div class="titleb">
    <h1>My applications</h1>
  </div>
  <% @my_applications.reverse.each do |application| %>
    <%# insert offer card  %>
    <div class="container myapps_cont">
      <div class="card__myapplications ">
        <%= cl_image_tag application.offer.club.photo.key, class:"card__image img_club img__club_myapps", alt:"club"%>
        <div class="grid-container__myapps">
          <div class="offerTitle_myapps">
            <h3><%= application.offer.title %></h3>
            <p class="green-text"><%= application.offer.club.name %></p>
            <p><%= application.offer.description %></p>
            <p>Created: <%= application.created_at.strftime("%a %b %e at %l:%M %p") %></p>
            <% if  application.pending? %>
              <p class="text__white">Status: <span class="text-white"><%= application.status.capitalize %></span></p>
            <% elsif application.accepted? %>
              <p class="text__white">Status: <span class="green-text"><%= application.status.upcase %></span></p>
            <% elsif application.rejected? %>
              <p class="text__white">Status: <span class="red-text"><%= application.status.upcase %></span></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="titleb">
    <h1>My Club Applications</h1>
  </div>
  <% @my_club_applications.each do |application|  %>
    <div data-controller="apply" data-apply-id-value="<%= application.id %>" class="container myapps_cont">
      <div class="card__myapplications ">
        <%= cl_image_tag application.offer.club.photo.key, class:"card__image img_club img__club_myapps", alt:"club"%>
        <div class="grid-container__myapps">
          <div class="offerTitle_myapps">
            <h3><%= application.offer.title %></h3>
            <p class="green-text"><%= application.offer.club.name %></p>
            <p><%= application.offer.description %></p>
            <p>Created: <%= application.created_at.strftime("%a %b %e at %l:%M %p") %></p>
            <p>Applied by: <%= link_to user_path(application.user) do %>
                <%= application.user.name %> <%= application.user.last_name %>
              <% end %>
            </p>
            <% if application.pending? %>
              <div class="btns" data-apply-id-value="<%= application.id %>">
                <%= simple_form_for [application],
                 html: { data: { apply_target: "accept" }} do |f| %>
                  <div class="btna" data-action="click->apply#accept">Accept Offer
                  </div>
                  <%= f.input :status, input_html: {value: 1, class:"d-none"}, label: false  %>
                <% end %>
                <%= simple_form_for [application],
                   html: { data: { apply_target: "reject" }} do |f| %>
                  <div class="btna" data-action="click->apply#reject">Decline Offer
                    <%= f.input :status, input_html: {value: 2, class:"d-none"}, label: false  %>
                  </div>
                <% end %>
              </div>
              <p data-apply-target="status" class="text__white pending">Status: <span class="text-white"><%= application.status.capitalize %></span></p>
            <% elsif application.accepted? %>
              <p data-apply-target="status" class="text__white accepted">Status: <span class="green-text"><%= application.status.upcase %></span></p>
            <% elsif application.rejected? %>
              <p data-apply-target="status" class="text__white rejected">Status: <span class="red-text"><%= application.status.upcase %></span></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
