<div class="container">
  <div class="card">
    <div class="card-left">
      <%= cl_image_tag @user&.photo.key, class:"card__image" %>
      <p class="card__name"><%= @user&.name %>
        <%= @user.last_name %></p>
      <div class="sport">Volleyball Player</p>
    </div>
  </div>
  <div class="card-right">
    <div class="grid-container">
      <div class="description">
        <strong>Description:</strong> <%= @user.description %> <br>
        <strong>Age:</strong> 28 <br>
        <strong>Position:</strong> <%= @user.position %> <br>
        <strong>Height:</strong> 1,94m <br>
        <strong>Weight:</strong> 98kg <br>
        <strong>Country:</strong> Brazil/Portugal<br>
      </div>
    </div>
    <div class="titles">
      <% @user.achievements.first(2).each do |achievement| %>
        <div class="title">
          <div >
            <i class="fa-solid fa-trophy trophy"></i>
          </div>
          <div class="Adescrip">
            <%= achievement.name %> <br>
            <%= achievement.description %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="icard">
  <h2>Titles</h2>
    <div class="titles">
      <% @user.achievements.first(6).each do |achievement| %>
        <div class="title">
          <div >
            <i class="fa-solid fa-trophy trophy"></i>
          </div>
          <div class="Adescrip">
            <%= achievement.name %> <br>
            <%= achievement.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div class="icard">
  <h2>Achievements</h2>
  <div class="titles">
      <% @user.achievements.first(6).each do |achievement| %>
        <div class="title">
          <div >
            <i class="fa-solid fa-trophy trophy"></i>
          </div>
          <div class="Adescrip">
            <%= achievement.name %> <br>
            <%= achievement.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<div class="icard videos">
  <h2>Videos</h2>
  <div>
    <iframe class="video" src="https://www.youtube.com/embed/j3D5h94YEoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay preload="auto"></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/AYFlH11wUDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay preload="auto"></iframe>
  </div>
</div>
<div class="icard">
  <h2>Clubs History</h2>
  <div class="ctitles">
    <div class="ctitle">
      <div >
         <%= image_tag "barca.png", class:"club" %>
      </div>
      <div class="Adescrip">
        Barcelona<br>
        Season 21/22
      </div>
    </div>
    <div class="ctitle">
      <div >
         <%= image_tag "benfica.png", class:"club" %>
      </div>
      <div class="Adescrip">
        Benfica <br>
        Season 20/21
      </div>
    </div>
    <div class="ctitle">
      <div >
         <%= image_tag "sporting.png", class:"club" %>
      </div>
      <div class="Adescrip">
        Sporting<br>
        Season 19/20
      </div>
    </div>
    <div class="ctitle">
      <div >
         <%= image_tag "perugia.png", class:"club" %>
      </div>
      <div class="Adescrip">
        Lube Civitanova<br>
        Season 18/19
      </div>
    </div>
    <div class="ctitle">
      <div >
         <%= image_tag "real.png", class:"club" %>
      </div>
      <div class="Adescrip">
        Real Madrid<br>
        Season 17/18
      </div>
    </div>
    <div class="ctitle">
      <div >
         <%= image_tag "minas.svg", class:"club" %>
      </div>
      <div class="Adescrip">
        Minas<br>
        Season 16/17
      </div>
    </div>
  </div>
</div>
<div class="icard">
  <h2>Games Stats</h2>
  <div>
  <%= image_tag "stats.jpg", class:"stats" %>
  </div>
</div>
</div>
