
  <div class="grid-container">
      <div class="description-offer">
        <%= offer.description %>
      </div>
      <div class="description map" data-controller="map" data-map-marker-value="<%= marker.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="titles" data-controller="apply">
        <div class="title-offer-big" data-apply-target="contact">
          <%# <a href="/messages/new">
            <span class="icon"><i class="fa fa-id-card"></i></span>
            <span class="text">Contact</span>
          </a> %>
          <%= link_to "Contact", :method=> "messages#new" %>
        </div>
        <div class="title-offer-big" data-apply-target="apply_btn" action="click->apply#createApplication">
          <a href="#">
          <span class="icon"><i class="fa fa-id-card"></i></span>
          <span class="text">Apply</span>
        </a>
          # <%# <button aria-label="Apply">
          #   <i class="title" data-action="click->edit-movie#displayForm"></i>
          # </button> %>
          # <%# <%= render "applications/form", application: @application %>
          # <%# <%= link_to "Apply", :method=> "applications#create" %>
        </div>
      </div>
    </div>
