<div class="titleb">
  <h1>Offers matching your search</h1>
</div>
<div class="main-container-offer card d-flex h-100" data-controller="apply" id="list" data-search-offers-target="list">
  <p class="h3">
    <div class="left-container w-50 h-80 p-2">
      <% @offers.each_with_index do |offer, index| %>
        <%# insert offer card  %>
        <div class="container" style="zoom: 45%">
          <div class="card-offer">
            <div class="card-left">
              <%= cl_image_tag offer.club.photo.key, alt:"club coat of arms", class:"card__image img_club"%>
              <p class="card__name"><%= offer.title %>
              </p>
              <div class="sport">
                <%= "#{offer.fee} €" %>
              </div>
            </div>
            <div class="grid-container">
              <div class="description-offer">
                <%= offer.description %></p>
            </div>
            <div class="titles-offer">
              <div class="title-offer text-center p-2">
                <%= offer.created_at.strftime("%a %b %e at %l:%M %p") %> <br>
                <%= offer.location %>
              </div>
              <a class="btn btnh" data-action="click->apply#displayInfo" id="<%= index %>">
                <%# <a href="#"  > %>
                <%# <span class="icon"><i class="fa fa-id-card"></i></span> %>
                <span class="text">More info</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="right-container card-offer-right w-40 p-2" style="zoom: 45%">
    <% @offers.each do |offer| %>
      <div class="right-container card-offer pane w-40 h-100 p-2 d-none" data-apply-target="sidePane">
        <div class="grid-container">
          <div class="description-offer">
            <%= offer.description %>
          </div>
          <div class="description map" data-controller="map" data-map-marker-value="<%=  { lat: offer.latitude, lng: offer.longitude }.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <div class="titles-offer-right">
            <a class="btn btnh" data-apply-target="contact"
             href= "<%= new_club_message_path(offer.club) %>">Contact
            </a>
            <a class="btn btnh" data-apply-target="applyBtn" action="click->apply#createApplication"
              href= "<%= new_offer_application_path(offer) %>">
            Apply</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

