<div class="titleb">
  <h1>Offers matching your search</h1>
</div>
<div class="main-container-offer card d-flex h-100" data-controller="apply" id="list" data-search-offers-target="list">
  <p class="h3">
    <div class="left-container w-50 h-80 p-2">
      <% @offers.each_with_index do |offer, index| %>
        <%# insert offer card  %>
        <div class="container" style="zoom: 45%">
          <div class="card-offer">
            <div class="card-left">
              <%= cl_image_tag offer.club.photo.key, alt:"club coat of arms", class:"card__image img_club"%>
              <p class="card__name"><%= offer.title %>
              </p>
              <div class="sport">
                <%= "#{offer.fee} €" %>
              </div>
            </div>
            <div class="grid-container">
              <div class="description-offer">
                <%= offer.description %></p>
            </div>
            <div class="titles">
              <div class="title-offer">
                <%= offer.created_at.strftime("%a %b %e at %l:%M %p") %> <br>
                <%= offer.location %>
              </div>
              <div class="title-offer-big" >
                <a href="#" data-action="click->apply#displayInfo" id="<%= index %>" >
                  <%# <span class="icon"><i class="fa fa-id-card"></i></span> %>
                  <span class="text">More info</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="right-container card-offer w-40 h-100 p-2" style="zoom: 45%">
    <% @offers.each do |offer| %>
      <div class="right-container card-offer pane w-40 h-100 p-2 d-none" data-apply-target="sidePane">
        <div class="grid-container">
          <div class="description-offer">
            <%= offer.description %>
          </div>
          <%# <%= marker =
      {
        lat: offer.geocode[0],
        lng: offer.geocode[1]
        # info_window: render_to_string(partial: "info_window", locals: {offer: offer})
      }
 %>
          <div class="description map" data-controller="map" data-map-marker-value="<%=  { lat: offer.latitude, lng: offer.longitude }.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <div class="titles-offer">
            <div class="title-offer-big" data-apply-target="contact">
              <%# <a href="/messages/new">
            <span class="icon"><i class="fa fa-id-card"></i></span>
            <span class="text">Contact</span>
          </a> %>
              <%= link_to "Contact", new_message_path(offer.club)%>
            </div>
            <div class="title-offer-big" data-apply-target="apply_btn" action="click->apply#createApplication">
              <a href="#">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <span class="text">Apply</span>
              </a>
              <%# <button aria-label="Apply">
            <i class="title" data-action="click->edit-movie#displayForm"></i>
          </button> %>
              <%# <%= render "applications/form", application: @application %>
              <%# <%= link_to "Apply", :method=> "applications#create" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
