<h1 class="titleb">Create a new Offer</h1>

<%= simple_form_for([@offer]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title,
                required: true,
                autofocus: true %>
    <%= f.input :description,
                required: true %>
    <%= f.input :fee %>
    <%= f.input :location %>
  <div class="form-actions btn btnh btt">
    <%= f.button :submit, "Create Offer" %>
  </div>
<% end %>
