<div class="container">
  <div class="card-titles">
    <% @achievements.each do |achievement| %>
      <div class="card-achievement">
        <% if achievement.sort == "title"%>
          <i class="fa fa-trophy icon-achievemnt-trophy icon-red"></i>
          <p class="card__name-titles">
            <%= achievement.name %>
          </p>
          <div class="sport"><%= achievement.description %></div>
          <% else %>
          <i class="fa fa-medal icon-achievemnt-trophy icon-red"></i>
          <p class="card__name-titles">
            <%= achievement.name %>
          </p>
          <div class="sport"><%= achievement.description %></div>
        <% end %>
      </div>
      <% end %>
  </div>
  <span class="link"><%= link_to "Add new Achivement", new_achievement_path %></span>
</div>
